@media (max-width: 991px) {
    .contact-container {
        margin: 20px;
    }

    .contact-container1 {
        justify-content: center;
    }

    .contact-info,
    .contact-form {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .contact-section h2 {
        font-size: 40px;
    }

    .contact-section p {
        font-size: 16px;
    }
}

/* Adjust for mobile screens */
@media (max-width: 768px) {
    .contact-section h2 {
        font-size: 35px;
    }

    .contact-section p {
        font-size: 14px;
    }

    .contact-info h3 {
        font-size: 18px;
    }

    .contact-info p {
        font-size: 14px;
    }

    .form-group {
        flex-basis: 100%;
    }

    .contact-form button {
        font-size: 14px;
        padding: 8px;
    }
}

/* Extra small screens */
@media (max-width: 576px) {
    .contact-section h2 {
        font-size: 30px;
    }

    .contact-section p {
        font-size: 12px;
    }

    .contact-info h3 {
        font-size: 16px;
    }

    .contact-info p {
        font-size: 12px;
    }

    .contact-form button {
        font-size: 12px;
        padding: 7px;
    }
}

/* Media Queries for 480px and below */
@media (max-width: 480px) {
    footer h2 {
        font-size: 30px;
        text-align: center;
    }

    footer .newsletter {
        flex-direction: column; /* Stack the input and button vertically */
    }

    footer .newsletter input[type="email"] {
        width: 100%; /* Full width */
        margin-bottom: 10px; /* Space between input and button */
    }

    footer .newsletter button {
        width: 100%; /* Full width */
    }

    footer .footer-content {
        flex-direction: column; /* Stack sections vertically */
        padding: 20px;
    }

    footer .company,
    footer .solutions,
    footer .social-media,
    footer .contact {
        flex: none; /* Remove flex-grow */
        width: 100%; /* Full width */
        text-align: center; /* Center text */
    }

    footer .social-media {
        justify-content: center; /* Center social media icons */
    }

    footer .copyright {
        padding: 10px 0;
        font-size: 14px; /* Smaller font size */
    }
}
